<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PotterCode</title>
    <link rel="icon" href="img/logo1.png">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/dea9c07499.js" crossorigin="anonymous"></script>
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <link rel="stylesheet" href="/css/style1.css">
    <style media="screen">
      @font-face{font-family: tp; src: url("/css/harry.woff");}
      .title{
        font-family: tp;
      }
      code
      {
        color: white;
      }
    </style>
    <!-- Create a simple CodeMirror instance -->
  </head>
  <body>

    <div class="stars" style="height:170rem;"></div>
<div class="twinkling" style="height:170rem;">

  </div>
  <div class="clouds" style="height:70rem;">
    <a href="/" class="title"><img src="img/logo1.png" alt="" style="height:7rem;"></a>
    <h1 class="title">PotterCode</h1>
    <div class="container">

      <nav class="navbar  navbar-expand-lg navbar-dark nav">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-center">
    <li class="nav-item">
    <a class="nav-link" href="/code">Code</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/documentation">Documentation</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/tutorial">Tutorials</a>
    </li>
    <li class="nav-item active">
    <a class="nav-link" href="/example">Examples</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/about">About</a>
    </li>
    </ul>
    </div>
    </nav>
    <div class="row container">
      <div class="col-md-6">
        <h3>PotterCode</h3>
      </div>
      <div class="col-md-6">
        <h3>Python</h3>
      </div>
    </div>
    <h3>Harry goes to Hogwards</h3>
    <div class="row text">

      <div class="col-md-6">

        <div class="container text program" >
          <code>Harry is 0<br>
until Harry is not 11<br>
spell "Harry has to live with the Dursleys for another year :("<br>
ascendio Harry<br>
<br>
if Harry is 11<br>
spell "Harry is off to Hogwarts :D"</code>

        </div>
      </div>
      <div class="col-md-6">

        <div class="container text program" >
          <code>Harry=0<br>
while Harry!=11<br>
print("Harry has to live with the Dursleys for another year :(")<br>
Harry=Harry+1<br>
<br>
if Harry==11<br>
print("Harry is off to Hogwarts :D")</code>
        </div>
      </div>
    </div>
    <h3>Calculator Program</h3>
    <div class="row text">

      <div class="col-md-6">
        <div class="container text program" >
          <code>horcrux add(X, Y)
            <br>
          depulso X engorgio Y
          <br>
          <br>
          horcrux sub(X, Y)
          <br>
          depulso X reducio Y
          <br>
          <br>
          horcrux mul(X, Y)
          <br>
          depulso X gemino Y
          <br>
          <br>
          horcrux div(X, Y)
          <br>
          depulso X sectumsepra Y
          <br>
          <br>
          answer is accio add (2,3)
          <br>
          spell answer
          <br>
          <br>
          answer is accio sub (2,3)
          <br>
          spell answer
          <br>
          <br>
          answer is accio mul (2,3)
          <br>
          spell answer
          <br>
          <br>
          answer is accio div (2,3)
          <br>
          spell answer</code>

        </div>
      </div>
      <div class="col-md-6">
        <div class="container text program" >
          <code>def add(X, Y)
            <br>
          return X + Y
          <br>
          <br>
          def sub(X, Y)
          <br>
          return X - Y
          <br>
          <br>
          def mul(X, Y)
          <br>
          return X - Y
          <br>
          <br>
          def div(X, Y)
          <br>
          return X - Y
          <br>
          <br>
          answer = add(2,3)
          <br>
          print(answer)
          <br>
          <br>
          answer =sub(2,3)
          <br>
          print(answer)
          <br>
          <br>
          answer =mul(2,3)
          <br>
          print(answer)
          <br>
          <br>
          answer =div(2,3)
          <br>
          print(answer)</code>
        </div>
      </div>
    </div>
    <h3>Factorial Calculation</h3>
    <div class="row text">

      <div class="col-md-6">
        <div class="container text program" >
          <code>horcrux fact (X)<br>
if X is 0<br>
depulso 1<br>
<br>
factorial is 1<br>
while X is ahead of 0<br>
factorial is factorial gemino X<br>
descendio X<br>
<br>
depulso factorial<br>
<br>
<br>
listen to number<br>
answer is accio fact (number)<br>
spell answer</code>

        </div>
      </div>
      <div class="col-md-6">
        <div class="container text program" >
          <code>def fact(X)<br>
  if X==0<br>
    return 1<br>
<br>
  factorial=1<br>
  while X > 0<br>
    factorial =factorial * X<br>
    X=X-1<br>
<br>
  return factorial<br>
<br>
<br>
number=input()<br>
answer=fact(number)<br>
print(answer)</code>
        </div>
      </div>
    </div>
  </div>
  </div>
  </body>
  </html>
