<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Code</title>
    <link rel="stylesheet" href="/css/style1.css">
  </head>
  <body>
    <h1>HI</h1>
    <form class="" action="/code" method="post">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" cols="80" name="postTitle"><%= input.input1 %></textarea>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" cols="80" name="postTitle1"><%= cin.cin1 %></textarea>
    <button type="submit" name="button">DONE</button>
    </form>
    <textarea name="name" rows="8" cols="80"><%= output.output1 %></textarea>
  </body>
</html>
